<%- include('../partials/loaders') %> 
<body class="hold-transition lockscreen" style="background-image: url(/images/background.jpg); background-position: center;
background-repeat: no-repeat;
background-size: cover;">
	<div class="container h-p100">
		<div class="row align-items-center justify-content-md-center h-p100">
			<div class="col-lg-4 col-md-8 col-12">
				<div class="lockscreen-wrapper bg-img rounded" style="background-image:url(/images/img1.jpg);" data-overlay="5">	
				  <div class="lockscreen-box-body">

				  <div class="lockscreen-item">
					<div class="lockscreen-image" style="margin-top: -80px;">
					  <img src="<%=user.image.imageUrl%>" style="border-radius: 50%;border : 2px solid white ;" alt="User Image">
					</div>

					<div class="lockscreen-name margin-top-20"><h3> <%= user.username %> </h3></div>
					
					<form action="/setPassword-<%=user.id%>" method="POST" class="lockscreen-credentials margin-top-20 form-element text-white">					  
					  <div class="form-group has-feedback">
						<input type="password" class="form-control text-white" name="password" placeholder="New Password">
						<span class="ion ion-locked form-control-feedback text-white"></span>
					  </div>
					  <div class="text-centre col-12">
						<div class="text-center">
						  <% if(error && error.length > 0){ %>
							<div class="alert alert-danger">
								<%= error %> 
							</div>
						  <% } %>
					  
						  <% if(success && success.length > 0){ %>
							<div class="alert alert-success">
								<%= success %>
							</div>
						  <% } %>
						</div>
					</div>
						<div class="text-center">
						  <button type="submit" class="btn btn-info btn-block margin-top-10">RESET PASSWORD</button>
						</div>
					</form>

				  </div>
				  <div class="help-block text-center margin-top-20">
					Enter password to recover your account
				  </div>
				  <div class="text-center">
					Or <a href="/" class="text-danger"><b>Sign In</b></a> as a Different User
				  </div>
				</div>
			</div>
			
			</div>
		</div>
	</div>

	<%- include('./partials/scripts') %> 
</body>

</html>
